@import "variables.styl";

.container {
    width: auto;
    margin: 0 auto;
}

body {
    min-width: 640px;
}

@media all and (min-width: $screen-lg-min) {
    .container {
        width: 1000px;
    }
}