$white = #fff;
$black = #000;
$scorpion = #595959;
$corn = #f2c306;
$buttered-rum = #9b7d08;
$galliano = #d6ac05;
$california = #ec9e03;
$delta = #a9a9a7;
$tundora = #4c4c4c;

$screen-sm-min = 640px;
$screen-lg-min = 1000px;