.features-section {
    padding: 30px 0;
    background: #efefef;

    &__list {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: space-around;
    }
}